@if (UserRole == "Admin")
                            {
                                @if (isInitializedAsAdminUser)
                                {
                                    <div class="table-bordered">
                                        <!-- Tabs navigation -->
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link fade show active" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests" type="button" role="tab" aria-controls="requests" aria-selected="true">Αιτήματα</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="create-area-tab" data-bs-toggle="tab" data-bs-target="#create-area" type="button" role="tab" aria-controls="create-area" aria-selected="false">Τομείς</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="create-skills-tab" data-bs-toggle="tab" data-bs-target="#create-skills" type="button" role="tab" aria-controls="create-skills" aria-selected="false">Δεξιότητες</button>
                                            </li>
                                             <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="upload-news-tab" data-bs-toggle="tab" data-bs-target="#upload-news" type="button" role="tab" aria-controls="upload-news" aria-selected="false">Ειδήσεις</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="platform-statistics-tab" data-bs-toggle="tab" data-bs-target="#platform-statistics" type="button" role="tab" aria-controls="platform-statistics" aria-selected="false">Στατιστικά Πλατφόρμας</button>
                                            </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content mt-3" id="myTabContent">
                                            <!-- Requests tab content -->
                                            <div class="tab-pane fade show active" id="requests" role="tabpanel" aria-labelledby="requests-tab">
                                            </div>
                                            <!-- Create Area tab content -->
                                            <div class="tab-pane fade" id="create-area" role="tabpanel" aria-labelledby="create-area-tab">
                                            </div>
                                            <!-- Create Skills tab content -->
                                            <div class="tab-pane fade" id="create-skills" role="tabpanel" aria-labelledby="create-skills-tab">
                                            </div>
                                             <!-- Upload News tab content -->
                                            <div class="tab-pane fade" id="upload-news" role="tabpanel" aria-labelledby="upload-news-tab">
                                            </div>
                                            <!-- Platform Statistics tab content -->
                                            <div class="tab-pane fade" id="platform-statistics" role="tabpanel" aria-labelledby="platform-statistics-tab">
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <Shared.LoadingIndicator />
                                }
                            }