                            @*RESEARCH GROUP CONTENT*@
                            @if (UserRole == "Research Group")
                            {
                                @if (!isInitializedAsResearchGroupUser)
                                {
                                    <Shared.LoadingIndicator />
                                }
                                else if (!isResearchGroupRegistered)
                                {
                                    <Shared.RegistrationPrompt Title="Εγγραφή Ερευνητικής Ομάδας" RegistrationLink="researchGroupRegistration" />
                                }
                                else
                                {
                                    <div class="table-bordered">
                                        <!-- Tabs navigation -->
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link fade show active" id="rgannouncements-tab" data-bs-toggle="tab" data-bs-target="#rgannouncements" type="button" role="tab" aria-controls="rgannouncements" aria-selected="true">Ανακοινώσεις</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="rgevents-tab" data-bs-toggle="tab" data-bs-target="#rgevents" type="button" role="tab" aria-controls="rgevents" aria-selected="false">Εκδηλώσεις</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="rgsearchcompany-tab" data-bs-toggle="tab" data-bs-target="#rgsearchcompany" type="button" role="tab" aria-controls="rgsearchcompany" aria-selected="false">Αναζήτηση Εταιρείας</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="rgsearchprofessor-tab" data-bs-toggle="tab" data-bs-target="#rgsearchprofessor" type="button" role="tab" aria-controls="rgsearchprofessor" aria-selected="false">Αναζήτηση Καθηγητή</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="rgstatistics-tab" data-bs-toggle="tab" data-bs-target="#rgstatistics" type="button" role="tab" aria-controls="rgstatistics" aria-selected="false">Στατιστικά Ερευνητικής Ομάδας</button>
                                            </li> @*ADDED 10/09/25*@
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content mt-3" id="myTabContent">
                                            <!-- CREATE ANNOUNCEMENTS TAB AS RG -->
                                            <div class="tab-pane show active" id="rgannouncements" role="tabpanel" aria-labelledby="rgannouncements-tab">
                                                <div class="mb-3 row-dark-gray">
                                                    <div class="d-flex justify-content-between align-items-center" @onclick="ToggleFormVisibilityToShowGeneralAnnouncementsAndEventsAsRG" style="cursor: pointer;">
                                                        <label class="form-label" style="color: #FFF8DC;">• Πρόσφατες Ανακοινώσεις •</label>
                                                        <button class="btn btn-link" @onclick="ToggleFormVisibilityToShowGeneralAnnouncementsAndEventsAsRG" @onclick:stopPropagation="true">
                                                            @if (isAnnouncementsFormVisibleToShowGeneralAnnouncementsAndEventsAsRG)
                                                            {
                                                                <span>&#8722;</span> <!-- Minus sign -->
                                                            }
                                                            else
                                                            {
                                                                <span>&#43;</span> <!-- Plus sign -->
                                                            }
                                                        </button>
                                                    </div>                              
                                                </div>

                                                @if (isAnnouncementsFormVisibleToShowGeneralAnnouncementsAndEventsAsRG)
                                                {
                                                    <!-- University News Section -->
                                                    <div class="mb-3" style="background-color: #e6f2ff; border: 1px solid #b3c6e0; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
                                                        <div class="d-flex justify-content-between align-items-center p-3" 
                                                             style="border-bottom: 1px solid #b3c6e0; cursor: pointer;"
                                                             @onclick="ToggleUniversityNewsVisibility">
                                                            <h1 class="news-heading form-label m-0">
                                                                <span class="black-text">
                                                                    <span style="color: #b399d4; margin-left: 10px; margin-right: 5px;">
                                                                        <i class="fas fa-rss"></i>
                                                                    </span>
                                                                    Πανεπιστήμιο Αθηνών
                                                                    <span style="color: black; margin-left: 5px;">
                                                                        <i class="fas fa-university"></i>
                                                                    </span>
                                                                </span>
                                                            </h1>
                                                            <button class="btn" 
                                                                    style="width: 30px; height: 30px; border-radius: 50%; background-color: #0d47a1; color: white; border: none; padding: 0; display: flex; align-items: center; justify-content: center; margin-right: 10px;" 
                                                                    @onclick="ToggleUniversityNewsVisibility">
                                                                @if (isUniversityNewsVisible)
                                                                {
                                                                    <span>&#8722;</span> 
                                                                }
                                                                else
                                                                {
                                                                    <span>&#43;</span> 
                                                                }
                                                            </button>
                                                        </div>
    
                                                        @if (isUniversityNewsVisible)
                                                        {
                                                            <div id="university-news-content" class="p-3" style="border-top: 1px solid #e6f2ff;">
                                                                @if (newsArticles != null && newsArticles.Any())
                                                                {
                                                                    @foreach (var article in newsArticles)
                                                                    {
                                                                        <div class="news-article mb-2 pb-2" style="border-bottom: 1px dashed #ccc;">
                                                                            <a href="@article.Url" target="_blank" style="color: #0d47a1; text-decoration: none;">
                                                                                <i class="fa fa-external-link me-2" style="font-size: 0.8em;"></i>@article.Title
                                                                            </a>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <p class="mb-0 text-muted">Καμία Ανακοίνωση από το Πανεπιστήμιο Αθηνών ακόμη....</p>
                                                                }
                                                            </div>
                                                        }
                                                    </div>

                                                    <!-- SVSE News Section -->
                                                    <div class="mb-3" style="background-color: #e6f2ff; border: 1px solid #b3c6e0; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
                                                        <div class="d-flex justify-content-between align-items-center p-3" 
                                                             style="border-bottom: 1px solid #b3c6e0; cursor: pointer;"
                                                             @onclick="ToggleSvseNewsVisibility">
                                                            <h1 class="news-heading form-label m-0">
                                                                <span class="black-text">
                                                                    <span style="color: #b399d4; margin-left: 10px; margin-right: 5px;">
                                                                        <i class="fas fa-rss"></i>
                                                                    </span>
                                                                    Σύνδεσμος Βιομηχανιών Στερεάς Ελλάδας
                                                                    <span style="color: black; margin-left: 5px;">
                                                                        <i class="fas fa-industry"></i>
                                                                    </span>
                                                                </span>
                                                            </h1>
                                                            <button class="btn" 
                                                                    style="width: 30px; height: 30px; border-radius: 50%; background-color: #0d47a1; color: white; border: none; padding: 0; display: flex; align-items: center; justify-content: center; margin-right: 10px;" 
                                                                    @onclick="ToggleSvseNewsVisibility">
                                                                @if (isSvseNewsVisible)
                                                                {
                                                                    <span>&#8722;</span> <!-- Minus sign -->
                                                                }
                                                                else
                                                                {
                                                                    <span>&#43;</span> <!-- Plus sign -->
                                                                }
                                                            </button>
                                                        </div>
    
                                                        @if (isSvseNewsVisible)
                                                        {
                                                            <div id="svse-news-content" class="p-3" style="border-top: 1px solid #e6f2ff;">
                                                                @if (svseNewsArticles != null && svseNewsArticles.Any())
                                                                {
                                                                    @foreach (var article in svseNewsArticles)
                                                                    {
                                                                        <div class="news-article mb-2 pb-2" style="border-bottom: 1px dashed #ccc;">
                                                                            <a href="@article.Url" target="_blank" style="color: #0d47a1; text-decoration: none;">
                                                                                <i class="fa fa-external-link me-2" style="font-size: 0.8em;"></i>@article.Title
                                                                            </a>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <p class="mb-0 text-muted">Καμία Ανακοίνωση από τον ΣΒΣΕ ακόμη....</p>
                                                                }
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
<div id="admin-table-end"></div>
                            @if (UserRole == "Admin")
                            {
                                @if (isInitializedAsAdminUser)
                                {
                                    <div class="table-bordered">
                                        <!-- Tabs navigation -->
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link fade show active" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests" type="button" role="tab" aria-controls="requests" aria-selected="true">Αιτήματα</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="create-area-tab" data-bs-toggle="tab" data-bs-target="#create-area" type="button" role="tab" aria-controls="create-area" aria-selected="false">Τομείς</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="create-skills-tab" data-bs-toggle="tab" data-bs-target="#create-skills" type="button" role="tab" aria-controls="create-skills" aria-selected="false">Δεξιότητες</button>
                                            </li>
                                             <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="upload-news-tab" data-bs-toggle="tab" data-bs-target="#upload-news" type="button" role="tab" aria-controls="upload-news" aria-selected="false">Ειδήσεις</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="platform-statistics-tab" data-bs-toggle="tab" data-bs-target="#platform-statistics" type="button" role="tab" aria-controls="platform-statistics" aria-selected="false">Στατιστικά Πλατφόρμας</button>
                                            </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content mt-3" id="myTabContent">
                                            <!-- Requests tab content -->
                                            <div class="tab-pane fade show active" id="requests" role="tabpanel" aria-labelledby="requests-tab">
                                            </div>
                                            <!-- Create Area tab content -->
                                            <div class="tab-pane fade" id="create-area" role="tabpanel" aria-labelledby="create-area-tab">
                                            </div>
                                            <!-- Create Skills tab content -->
                                            <div class="tab-pane fade" id="create-skills" role="tabpanel" aria-labelledby="create-skills-tab">
                                            </div>
                                             <!-- Upload News tab content -->
                                            <div class="tab-pane fade" id="upload-news" role="tabpanel" aria-labelledby="upload-news-tab">
                                            </div>
                                            <!-- Platform Statistics tab content -->
                                            <div class="tab-pane fade" id="platform-statistics" role="tabpanel" aria-labelledby="platform-statistics-tab">
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <Shared.LoadingIndicator />
                                }
                            }
                        </div>
                    }
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="main-content">
                    <div class="welcome-card">
                        <div class="welcome-text">
                            <h2 class="welcome-title">Καλωσήρθατε στο Job Finder!</h2>
                            <p class="welcome-subtitle">Βρείτε την επόμενη επαγγελματική σας ευκαιρία ή τον ιδανικό υποψήφιο.</p>
                        </div>
                        <div class="welcome-actions">
                            <button class="login-button" @onclick="GoToLoginPage">
                                <i class="fas fa-sign-in-alt"></i> Σύνδεση
                            </button>
                        </div>
                    </div>
                    <div class="features-grid">
                        <div class="feature-card">
                            <div class="feature-icon">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <h3 class="feature-title">Θέσεις Εργασίας</h3>
                            <p class="feature-description">Αναζητήστε και δημοσιεύστε θέσεις εργασίας για να βρείτε το ταίρι σας.</p>
                        </div>
                        <div class="feature-card">
                            <div class="feature-icon">
                                <i class="fas fa-graduation-cap"></i>
                            </div>
                            <h3 class="feature-title">Πρακτική Άσκηση</h3>
                            <p class="feature-description">Βρείτε ευκαιρίες πρακτικής άσκησης για να ξεκινήσετε την καριέρα σας.</p>
                        </div>
                        <div class="feature-card">
                            <div class="feature-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            <h3 class="feature-title">Διπλωματικές Εργασίες</h3>
                            <p class="feature-description">Ανακαλύψτε προτάσεις για διπλωματικές εργασίες από καθηγητές και εταιρείες.</p>
                        </div>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </main>
</div>
