<div style="display: flex; justify-content: flex-start; padding: 20px; flex-direction: column;">
    <div style="width: 300px; border: none; border-radius: 12px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease; background: linear-gradient(135deg, #f9f9f9, #e0e0e0);">
        <div style="padding: 20px; text-align: center;">
            <h5 style="font-size: 1.5rem; font-weight: bold; color: #333; margin-bottom: 20px;">@Title</h5>
            <a style="background-color: #007bff; border: none; border-radius: 25px; padding: 10px 20px; font-size: 1rem; color: white; text-decoration: none; transition: background-color 0.3s ease, transform 0.2s ease;"
               href="@RegistrationLink"
               onmouseover="this.style.backgroundColor='#0056b3'; this.style.transform='scale(1.05)'"
               onmouseout="this.style.backgroundColor='#007bff'; this.style.transform='scale(1)'">
                Εγγραφή
            </a>
        </div>
    </div>
    <p style="font-size: 0.9rem; color: #000; margin-top: 7px; text-align: center; font-weight: bold;">
        <span style="color: #ff0000;">**</span> <span style="color: #ff0000;">Προσοχή</span>: Για εμφάνιση του περιεχομένου της σελίδας είναι <span style="color: #ff0000;">Υποχρεωτική</span> η Εγγραφή σας
    </p>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string RegistrationLink { get; set; }
}
