<CascadingAuthenticationState>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
</CascadingAuthenticationState>

<div id="blazor-error-ui">
    An error has occurred. This application may no longer respond until reloaded.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
