@inject IJSRuntime JSRuntime
@code {
    [Parameter]
    public EventCallback OnAgree { get; set; }

    [Parameter]
    public EventCallback OnDecline { get; set; }

    private async Task CloseModal()
    {
        await JSRuntime.InvokeVoidAsync("hideUserAgreementModal");
    }

    private async Task AgreeAsync()
    {
        await OnAgree.InvokeAsync();  // Trigger the OnAgree callback
        await CloseModal();           // Close the modal afterward
    }

    private async Task DeclineAsync()
    {
        await OnDecline.InvokeAsync();  // Trigger the OnDecline callback
        await CloseModal();             // Close the modal afterward
    }

}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div id="userAgreementModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Πολιτική Aπορρήτου</h5>
                <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
            </div>
            <div class="modal-body">
                <p>
                    <strong style="color: red;">
                        Προκειμένου να Εγγραφείτε στην Πλατφόρμα θα πρέπει πρώτα να διαβάσετε και στην συνέχεια να Αποδεχτείτε τους Όρους Παροχής Υπηρεσιών της Εφαρμογής AcademyHub
                    </strong>
                    <br />
                    <strong style="text-decoration: underline;">
                        Πολιτική Απορρήτου
                    </strong>
                    <br />

                    Η παρούσα Πολιτική Απορρήτου περιγράφει την πρακτική της εταιρείας μας αναφορικά με τη συλλογή, τη χρήση, την αποθήκευση και την αποκάλυψη των Προσωπικών Δεδομένων (όπως ορίζονται κατωτέρω) που παρέχονται σε εμάς από τους χρήστες της πλατφόρμας αυτής, κατά την πλοήγησή τους ή όταν κάνουν χρήση των υπηρεσιών εύρεσης εργασίας και λοιπών υπηρεσιών που προσφέρονται.
                    Η παρούσα Πολιτική αποτελεί αναπόσπαστο μέρος των Όρων Χρήσης, οι οποίοι ενσωματώνονται δι’ αναφοράς.

                    <br /><strong>1. Εφαρμοστέο Δίκαιο</strong> <br />

                    Το εφαρμοστέο δίκαιο προστασίας προσωπικών δεδομένων (το «Εφαρμοστέο Δίκαιο Προστασίας Προσωπικών Δεδομένων»), αποτελείται από την ισχύουσα εθνική και κοινοτική νομοθεσία για τη συλλογή, χρήση και αποκάλυψη των Προσωπικών σας Δεδομένων από εμάς, συμπεριλαμβανομένου του Κανονισμού (ΕΕ) 2016/679 του Ευρωπαϊκού Κοινοβουλίου και του Συμβουλίου (ο «Κανονισμός») και του Ν. 4624/2019.

                    <br /><strong>2. Ορισμός Προσωπικών Δεδομένων</strong> <br />

                    Ως «Προσωπικά Δεδομένα» νοούνται οι πληροφορίες και τα δεδομένα σχετικά με ένα ταυτοποιήσιμο φυσικό πρόσωπο, δηλαδή ένα άτομο του οποίου η ταυτότητα μπορεί να εξακριβωθεί άμεσα ή έμμεσα, κυρίως μέσω αναφοράς σε αναγνωριστικό στοιχείο ταυτότητας, όπως, για παράδειγμα, η ημερομηνία γέννησης, το ονοματεπώνυμο, η διεύθυνση κατοικίας, ο αριθμός τηλεφώνου, η διεύθυνση IP του κ.λπ. Εμείς συλλέγουμε, χρησιμοποιούμε ή αποκαλύπτουμε Προσωπικά σας Δεδομένα, σύμφωνα με την παρούσα Πολιτική και σύμφωνα με το Εφαρμοστέο Δίκαιο Προστασίας Προσωπικών Δεδομένων.

                    <br /> <strong>3. Προσωπικά Δεδομένα που συλλέγουμε ανάλογα με τον σκοπό επεξεργασίας</strong> <br />

                    Στόχος της πλατφόρμας είναι να συλλέγει τα απολύτως απαραίτητα Προσωπικά Δεδομένα, που είναι κατάλληλα, συναφή και αναγκαία ανάλογα με τον σκοπό για τον οποίο υποβάλλονται σε επεξεργασία. Τα Προσωπικά Δεδομένα που συλλέγονται από κάθε χρήστη της Ιστοσελίδας, αποθηκεύονται και εν γένει επεξεργάζονται ή διαφοροποιούνται ανάλογα με: α) αν ο Χρήστης είναι ιδιώτης ή εκπρόσωπος υφιστάμενων, πρώην ή μελλοντικών εταιρικών πελατών, προμηθευτών και επιχειρηματικών εταίρων της και β) τον σκοπό για τον οποίο χορηγήθηκαν τα Προσωπικά Δεδομένα. Πιο συγκεκριμένα, η πλατφόρμα συλλέγει -κατά περίπτωση- τα ακόλουθα Προσωπικά Δεδομένα:

                    <br /> <storng>3.1. Προσωπικά Δεδομένα που απαιτούνται για την δημιουργία λογαριασμού/εγγραφή κάθε Χρήστη στην Ιστοσελίδα</storng> <br />

                    Διεύθυνση ηλεκτρονικού ταχυδρομείου (e-mail) / Όνομα χρήστη
                    Κωδικός πρόσβασης Εν συνεχεία, ο Χρήστης μπορεί να συμπληρώσει επιπλέον στοιχεία για να ολοκληρώσει το προφίλ του, συμπεριλαμβανομένων ενδεικτικά των ακόλουθων:
                    Όνομα και Επώνυμο
                    Διεύθυνση κατοικίας ή/και εργασίας
                    Εικόνα προφίλ

                    <br /><strong>3.2. Προσωπικά Δεδομένα που συλλέγονται μέσω της Ιστοσελίδας για την παροχή υπηρεσιών εύρεσης εργασίας</strong> <br />

                    Τα Προσωπικά Δεδομένα που περιγράφονται στην ως άνω (Α) περίπτωση καθώς, για να απαντήσει ο Χρήστης σε αγγελία εργασίας μέσω της Ιστοσελίδας ή να κάνει χρήση των Υπηρεσιών ως Επιχειρηματική Επαφή, είναι απαραίτητο να δημιουργήσει πρώτα λογαριασμό στην Ιστοσελίδα.
                    Βιογραφικό σημείωμα με τα προσωπικά δεδομένα που περιλαμβάνονται σε αυτό.

                    <br /> <strong>3.3 Προσωπικά Δεδομένα που συλλέγονται μέσω της Ιστοσελίδας για την παροχή λοιπών υπηρεσιών περιλαμβάνουν ενδεικτικά τα ακόλουθα</strong> <br />

                    Η διεύθυνση e-mail σας όταν εγγραφείτε στη λίστα παραληπτών ενημερωτικών δελτίων, σε κάποιες περιπτώσεις συνδυαστικά με προσωπικά δεδομένα που συλλέγονται με την συγκατάθεση του Χρήστη (όπου απαιτείται) κατά την πλοήγησή του στην Ιστοσελίδα (βλ. περίπτωση 3.4) με στόχο την αποστολή προσωποποιημένης επικοινωνίας σύμφωνα με τις ανάγκες/προτιμήσεις του Χρήστη. Η διεύθυνση e-mail σας, όταν επιλέξετε να λάβετε μέρος σε ονομαστική έρευνα ικανοποίησης. Η διεύθυνση e-mail σας ή/και το ονοματεπώνυμό σας, όταν εγγραφείτε σε τυχόν διαγωνισμούς/κληρώσεις. Η διεύθυνση e-mail σας και τα λοιπά στοιχεία που ζητούνται κάθε φορά στη φόρμα συμμετοχής που συμπληρώνει ο Χρήστης για να συμμετάσχει σε εκδηλώσεις/ημερίδες/εκπαιδευτικά σεμινάρια που διοργανώνει ή συνδιοργανώνει η πλατφόρμα.
                    Αν επικοινωνήσετε (γραπτά ή προφορικά) με το Τμήμα Εξυπηρέτησης Πελατών της πλατφόρμα: ενδέχεται να αποθηκεύσουμε/καταχωρήσουμε την διεύθυνση e-mail σας και την σχετική αλληλογραφία/επικοινωνία σας, όπως επίσης τυχόν στοιχεία που θα σας ζητηθούν και είναι απαραίτητα για την καλύτερη εξυπηρέτησή σας ή/και την ικανοποίηση αιτήματός σας.Εάν παρέχεται η δυνατότητα στην Ιστοσελίδα και επιλέξετε να επικοινωνήσετε με την Εξυπηρέτηση Πελατών ή με υπάλληλο (recruiter) της πλατφόρμας μέσω της υπηρεσίας συνομιλίας (chat) ενός μέσου κοινωνικής δικτύωσης (π.χ. Facebook) ή άλλου συνεργάτη, ορισμένα από τα Προσωπικά σας Δεδομένα (π.χ. το όνομα χρήστη, το ονοματεπώνυμό σας, στοιχεία που αφορούν την επαγγελματική σας κατάσταση) θα εισαχθούν από εσάς ή/και το κοινωνικό σας δίκτυο ή/και τον συνεργάτη (αν είναι απαραίτητο να δημιουργήσετε λογαριασμό πριν από την αποστολή του μηνύματός σας). Επίσης, να έχετε υπόψη σας ότι τα δεδομένα που υποβάλετε σε αυτήν την υπηρεσία συνομιλίας (chat) θα είναι διαθέσιμα στο μέσω κοινωνικής δικτύωσης (π.χ. Facebook) ή στον συνεργάτη και υπόκεινται στις πολιτικές απορρήτου τους, γι’ αυτό σας συνιστούμε να ελέγξετε τις ρυθμίσεις απορρήτου σας και να διαβάσετε τις πολιτικές απορρήτου των μέσων κοινωνικής δικτύωσης ή των συνεργατών, ώστε να λάβετε περισσότερες λεπτομερείς πληροφορίες σχετικά με τη χρήση των Προσωπικών Δεδομένων σας κατά τη χρήση των υπηρεσιών τους.

                    <br /> <strong>3.4. Προσωπικά Δεδομένα που συλλέγονται κατά την πλοήγηση σας στην Ιστοσελίδα</strong> <br />

                    Προτιμήσεις αναφορικά με την αναζήτηση θέσεων εργασίας από κάθε Χρήστη, εφόσον ο Χρήστης έχει συγκατατεθεί στην χρήση των αντίστοιχων (μη τεχνικά απαραίτητων) cookies. Για περισσότερες πληροφορίες σχετικά με τα cookies, παρακαλούμε διαβάστε την Πολιτική για τα Cookies της πλατφόρμας.
                    Πληροφορίες σχετικά με την συσκευή που χρησιμοποίησε ο Χρήστης για να αποκτήσει πρόσβαση στην Ιστοσελίδα (όπως διεύθυνση IP, συσκευή, πρόγραμμα περιήγησης, τύπος λειτουργικού συστήματος και άλλες πληροφορίες υποστήριξης του λειτουργικού συστήματος).
                    Σελίδες και διευθύνσεις URL που παραπέμπουν τους Χρήστες στην Ιστοσελίδα και σελίδες και διευθύνσεις URL στις οποίες οι Χρήστες ανακατευθύνονται όταν ακολουθήσουν συνδέσεις («links») προς άλλες ιστοσελίδες που λειτουργούν από τρίτους και είναι διαθέσιμες στην Ιστοσελίδα.
                    Ημερομηνίες και ώρες επισκέψεων στην Ιστοσελίδα.
                    Γεωγραφική τοποθεσία (όπως χώρα και πόλη), από την οποία ένας Χρήστης επισκέπτεται την Ιστοσελίδα.
                    Τις ενέργειες που πραγματοποιούνται από τον Χρήστη κατά την περιήγηση στην Ιστοσελίδα (όπως προβολές σελίδας, μοτίβα πλοήγησης και προβολή θέσεων εργασίας ή υποβολή αιτήσεων εκδήλωσης ενδιαφέροντος για θέσεις εργασίας).
                    Τους όρους αναζήτησης που εισάγουν οι Χρήστες στις διάφορες μηχανές αναζήτησης για να οδηγηθούν στην Ιστοσελίδα.
                    Η Πλατφόρμα δεν επιδιώκει τη συλλογή ή την επεξεργασία ειδικών κατηγοριών δεδομένων προσωπικού χαρακτήρα, όπως αυτές ορίζονται στον Κανονισμό, και αφορούν ιδίως φυλετική ή εθνοτική καταγωγή, πολιτικές απόψεις, θρησκευτικές ή φιλοσοφικές πεποιθήσεις ή την ιδιότητα μέλους συνδικαλιστικών οργανώσεων ή γενετικά δεδομένα, βιομετρικά δεδομένα με σκοπό τον μοναδικό προσδιορισμό ενός φυσικού προσώπου, δεδομένα σχετικά με την υγεία κ.λπ. του εκάστοτε Χρήστη.

                    <br /><strong>4. Σκοποί της επεξεργασίας προσωπικών δεδομένων</strong> <br />

                    Η Πλατφόρμα επεξεργάζεται τα Προσωπικά Δεδομένα των Χρηστών για τους εξής σκοπούς:

                    Παροχή των προϊόντων και των Υπηρεσιών που ζητά ο Χρήστης μέσω της Ιστοσελίδας.
                    Εγγραφή των Χρηστών στην Ιστοσελίδα, διαχείριση και τεχνική υποστήριξη των λογαριασμών που διατηρούν στην Ιστοσελίδα.
                    Αποθήκευση των βιογραφικών σημειωμάτων και λοιπών Προσωπικών Δεδομένων που αναρτώνται στην Ιστοσελίδα ή αποθηκεύονται στον λογαριασμό από τους Χρήστες και εξασφάλιση της διαθεσιμότητάς τους.
                    Επεξεργασία, επιβεβαίωση και ολοκλήρωση των αγορών των Επιχειρηματικών Επαφών (συμπεριλαμβανομένης της επικοινωνίας μαζί τους (μέσω e-mail ή τηλεφωνικά), αν χρειαστεί, για τις Υπηρεσίες που έχουν αγοράσει).
                    Καταγραφή των αγγελιών για θέσεις εργασίας που ‘επισκέπτεται’ ή υποβάλει αίτηση ο Χρήστης μέσα στην Ιστοσελίδα.
                    Επικοινωνία με τους Χρήστες που έχουν εγγραφεί στην λίστα παραληπτών ενημερωτικών δελτίων (newsletter) και παροχή πληροφοριών για υφιστάμενες ή νέες υπηρεσίες, ημερίδες, σεμινάρια, δράσεις, εκπαιδευτικές ή άλλες ευκαιρίες επαγγελματικής εξέλιξης κ.λπ. Αυτές οι επικοινωνίες θα περιέχουν συνδέσμους κατάργησης εγγραφής (unsubscribe) εάν αποφασίσετε ότι δεν θέλετε να λαμβάνετε περαιτέρω επικοινωνίες.
                    Ενημέρωση, μέσω e-mail, των Χρηστών που έχουν υποβάλει αίτηση εκδήλωσης ενδιαφέροντος για κάποια θέση εργασίας μέσω της Ιστοσελίδας για σχετικές αγγελίες εργασίας που μπορεί να τους ενδιαφέρουν με βάση το βιογραφικό τους ή/και τις αιτήσεις εκδήλωσης ενδιαφέροντος που τυχόν έχουν υποβάλλει μέσω της Ιστοσελίδας.
                    Απάντηση του Τμήματος Εξυπηρέτησης Πελατών ή/και των υπαλλήλων (recruiters) της Πλατφόρμας στα ερωτήματα των Χρηστών σχετικά με τα προϊόντα και τις Υπηρεσίες ή/και διαχείριση αιτημάτων.
                    Παροχή διαχειριστικών ειδοποιήσεων ή επικοινωνιών που αφορούν τη χρήση της Ιστοσελίδας ή/και του λογαριασμού του Χρήστη.
                    Παροχή υπηρεσιών υποστήριξης πελατών των Χρηστών της Ιστοσελίδας, καθώς και επίλυση τεχνικών προβλημάτων.
                    Επικοινωνία με τα πρόσωπα στα οποία αναφέρονται τα δεδομένα και παροχή σε αυτά πληροφοριών που, σε ορισμένες περιπτώσεις, είναι στοχευμένες με βάση τα ενδιαφέροντά τους (όπως σχετικές υπηρεσίες, εκπαιδευτικές ή άλλες ευκαιρίες επαγγελματικής εξέλιξης). Αυτές οι επικοινωνίες θα περιέχουν συνδέσμους κατάργησης εγγραφής (unsubscribe) εάν αποφασίσετε ότι δεν θέλετε να λαμβάνετε περαιτέρω επικοινωνίες.
                    Παροχή της δυνατότητας επικοινωνίας κάθε Χρήστη με την Πλατφόρμα, μέσων κοινωνικής δικτύωσης ή/και άλλων διαδραστικών μέσων επικοινωνίας που τυχόν διατηρεί ή χρησιμοποιεί αυτή.
                    Διενέργεια ερευνών ικανοποίησης/αξιολόγησης της Πλατφόρμας και των παρεχόμενων Υπηρεσιών, μέσω της συμπλήρωσης από τους Χρήστες –αν το επιθυμούν- αντίστοιχου ερωτηματολογίου ή φόρμας αξιολόγησης που αποστέλλεται μέσω e-mail.
                    Διαχείριση της συμμετοχής του Χρήστη σε διαδικτυακές (virtual) ή δια ζώσης εκδηλώσεις που διοργανώνει κατά διαστήματα η Πλατφόρμα και έχει δηλώσει συμμετοχή ο Χρήστης μέσω της Ιστοσελίδας.
                    Ανάλυση και βελτίωση των εμπορικών/προωθητικών επικοινωνιών και στρατηγικών μάρκετινγκ που εφαρμόζει η Πλατφόρμα.
                    Ανάλυση τάσεων και στατιστικών στοιχείων σχετικά με τη χρήση από τους Χρήστες της Ιστοσελίδας, των εφαρμογών για κινητά τηλέφωνα και των μέσων κοινωνικής δικτύωσης της Πλατφόρμας καθώς και των αγγελιών/θέσεων εργασίας που έχουν προβληθεί ή στις οποίες έχουν υποβληθεί αιτήσεις από τους Χρήστες μέσω της Ιστοσελίδας.
                    Ανάλυση τάσεων και στατιστικών στοιχείων σχετικά με την αγορά εργασίας.
                    Βελτιστοποίηση της Ιστοσελίδας με σκοπό την καλύτερη προβολή και κατάταξή της στα αποτελέσματα της μηχανής αναζήτησης.
                    Προστασία και πρόληψη απάτης, μη εξουσιοδοτημένων συναλλαγών, αξιώσεων και άλλων υποχρεώσεων της Πλατφόρμας και διαχείριση της έκθεσης σε κινδύνους, συμπεριλαμβανομένης της αναγνώρισης δυνητικών χάκερ (hackers) και άλλων μη εξουσιοδοτημένων χρηστών.
                    Συμμόρφωση της Πλατφόρμας με συμβατικές ή νομικές υποχρεώσεις που πηγάζουν από τις ισχύουσες νομοθετικές διατάξεις, τυχόν εκδοθείσες δικαστικές αποφάσεις καθώς και τις πρακτικές και Πολιτικές που εφαρμόζει η Πλατφόρμα.
                    Μπορεί, επίσης, να συνδυάσουμε ορισμένα μη προσωπικά Συγκεντρωτικά Δεδομένα (όπως ορίζονται κατωτέρω) ή με άλλο τρόπο ανωνυμοποιημένα ή μη ταυτοποιήσιμα δεδομένα σχετικά με τους Χρήστες και να χρησιμοποιήσουμε τα δεδομένα αυτά για να βελτιώσουμε τα προϊόντα και τις Υπηρεσίες μας. «Συγκεντρωτικά Δεδομένα» είναι οι δημογραφικές πληροφορίες ή οι πληροφορίες απασχόλησης (όπως το επάγγελμα, η εκπαίδευση και η εμπειρία) πολλών ατόμων που συνδυάζονται μαζί. Τα Συγκεντρωτικά Δεδομένα χρησιμοποιούνται για την ανάλυση των χαρακτηριστικών διαφόρων πληθυσμών και δεν προσδιορίζουν συγκεκριμένα άτομα. Μπορεί, επίσης, να χρησιμοποιήσουμε και να μοιραστούμε ανωνυμοποιημένα ή μη ταυτοποιήσιμα δεδομένα για να παρακολουθήσουμε τις τάσεις στην αγορά εργασίας καθώς και τη χρήση των προϊόντων και των Υπηρεσιών μας. Χρησιμοποιούμε, επίσης, υπηρεσίες ανάλυσης (analytics) που παρέχουν τρίτοι συνεργάτες, για να κατανοήσουμε καλύτερα την χρήση της Ιστοσελίδας, όπως περιγράφεται στην Πολιτική για τα Cookies.

                    <br /><strong>5. Νομική βάση επεξεργασίας Προσωπικών Δεδομένων</strong> <br />

                    Για τους Χρήστες της Ιστοσελίδας, η νομική βάση της επεξεργασίας των Προσωπικών σας Δεδομένων από την Πλατφόρμα διαφοροποιείται ως εξής: (i) Όσον αφορά την εγγραφή/δημιουργία λογαριασμού, την αποθήκευση/αποστολή βιογραφικών σημειωμάτων, την υποβολή αιτήσεων προς εύρεση εργασίας από τους Χρήστες της Ιστοσελίδας, την συμμετοχή σε ημερίδες/εκπαιδευτικά σεμινάρια, την παροχή τεχνικής υποστήριξης και την εν γένει παροχή στους Χρήστες Υπηρεσιών, η νομική βάση της επεξεργασίας των Προσωπικών Δεδομένων είναι η εκτέλεση της σύμβασης/παροχή των Υπηρεσιών.
                    (ii) Όσον αφορά την συμμετοχή σε έρευνες ικανοποίησης, διαγωνισμούς/κληρώσεις, τη χρήση ορισμένων (μη τεχνικά απαραίτητων) cookies κατά την περιήγηση στην Ιστοσελίδα ή όταν Χρήστες (που είτε έχουν δημιουργήσει λογαριασμό στην Ιστοσελίδα είτε όχι) εγγράφονται για να λαμβάνουν μέσω e-mail μηνύματα μάρκετινγκ και εμπορικής επικοινωνίας, η νομική βάση της επεξεργασίας των Προσωπικών Δεδομένων είναι η συγκατάθεση. (iii) Όσον αφορά την επικοινωνία με το Τμήμα Εξυπηρέτησης Πελατών ή/και με υπάλληλο (recruiter) της Πλατφόρμας, θεωρούμε ότι έχουμε έννομο συμφέρον να απαντήσουμε στα αιτήματα ή τις ερωτήσεις που έχετε θέσει μέσω των υφιστάμενων διαφορετικών τρόπων επικοινωνίας (π.χ. μέσω chat). Κατανοούμε ότι η επεξεργασία αυτών των δεδομένων είναι επίσης επωφελής για εσάς στο βαθμό που μας επιτρέπει να σας βοηθάμε επαρκώς, να σας παρέχουμε πληροφορίες και να απαντάμε στα ερωτήματά σας. Όταν επικοινωνείτε μαζί μας προκειμένου να εκφράσετε το ενδιαφέρον σας για κάποια αγγελία εργασίας ή/και να ζητήσετε επιπλέον πληροφορίες ή/και να κλείσετε διαδικτυακό ραντεβού με υπάλληλο (recruiter) της Πλατφόρμας μέσω της μέσω της υπηρεσίας συνομιλίας (chat) που τυχόν είναι διαθέσιμη στην Ιστοσελίδα ή/και στο προφίλ της Πλατφόρμας στα μέσα κοινωνικής δικτύωσης, η επεξεργασία των Προσωπικών Δεδομένων σας είναι απαραίτητη για την εκτέλεση της σύμβασης/παροχή των Υπηρεσιών μας. Όταν το αίτημά σας σχετίζεται με την άσκηση των δικαιωμάτων σας (για τα οποία σας ενημερώνουμε παρακάτω) ή με αξιώσεις σχετικά τις υπηρεσίες μας, επεξεργαζόμαστε τα Προσωπικά Δεδομένα σας για σκοπούς συμμόρφωσης με τις έννομες υποχρεώσεις μας.

                    Για τις Επιχειρηματικές Επαφές που είναι υφιστάμενοι πελάτες, προμηθευτές και επιχειρηματικοί συνεργάτες της Πλατφόρμας, η νομική βάση για την επεξεργασία των Προσωπικών Δεδομένων είναι η εκτέλεση της μεταξύ μας σύμβασης, εκτός αν προβλέπεται για συγκεκριμένη ενέργεια ότι η νομική βάση της επεξεργασίας των Προσωπικών Δεδομένων είναι η συγκατάθεση ή άλλη νομική βάση.

                    Μπορεί, επίσης, να επεξεργαστούμε Προσωπικά Δεδομένα Χρηστών που είναι υφιστάμενοι πελάτες όταν είναι προς τα έννομα συμφέροντά μας να το πράξουμε, εκτός εάν έναντι των συμφερόντων αυτών υπερισχύει το έννομο συμφέρον ή τα θεμελιώδη δικαιώματα και οι ελευθερίες του προσώπου στο οποίο αναφέρονται τα Προσωπικά Δεδομένα. Τα έννομα συμφέροντά μας περιλαμβάνουν, ενδεικτικά, το μάρκετινγκ, την πώληση και την παροχή των προϊόντων και Υπηρεσιών μας, την ανάπτυξη και βελτίωση προϊόντων και Υπηρεσιών, την κατανόηση της συμπεριφοράς, των δραστηριοτήτων, των προτιμήσεων και των αναγκών των Χρηστών μας.

                    Τέλος, μπορεί να επεξεργαστούμε Προσωπικά Δεδομένα Χρηστών όταν είναι αναγκαίο για την προστασία και την πρόληψη της απάτης, καθώς και τη συμμόρφωση με τα πρότυπα του κλάδου, την εφαρμοστέα νομοθεσία (συμπεριλαμβανομένου ενδεικτικά του Εφαρμοστέου Δικαίου Προστασίας Προσωπικών Δεδομένων), για παράδειγμα, μπορεί να υποχρεωθούμε να αποκαλύψουμε και να ανακοινώσουμε Προσωπικά Δεδομένα Χρηστών σύμφωνα με δικαστική απόφαση, εισαγγελική διαταγή ή παραγγελία ή απόφαση άλλου προσώπου ή διοικητικού οργάνου με εκ του νόμου αρμοδιότητα να υποχρεώσει την αποκάλυψη τέτοιων πληροφοριών. Αν έχουμε βάσιμους λόγους να πιστεύουμε ότι Προσωπικά Δεδομένα Χρηστών θα μπορούσαν να είναι χρήσιμα στην έρευνα για ανάρμοστη ή παράνομη δραστηριότητα, μπορεί να αποκαλύψουμε τέτοιες πληροφορίες σε υπηρεσίες επιβολής του νόμου ή άλλες αρμόδιες αρχές.

                    <br /><strong>6. Αποδέκτες των προσωπικών δεδομένων</strong> <br />

                    Μοιραζόμαστε Προσωπικά Δεδομένα που συλλέγουμε από τους Χρήστες (συμπεριλαμβανομένων των βιογραφικών) με τρίτους εργοδότες, υπευθύνους προσλήψεων/αναζήτησης προσωπικού και άλλες εταιρείες/πελάτες που αγοράζουν τις Υπηρεσίες μας. Όταν, για παράδειγμα, κάποιος Χρήστης υποβάλει αίτηση για εργασία σε μια εταιρεία μέσω της Ιστοσελίδας, τα Προσωπικά Δεδομένα που παρέχονται από αυτόν μπορεί να αποθηκευτούν στη βάση δεδομένων αυτής της εταιρείας. Ομοίως, εάν μια εταιρεία ‘κατεβάσει’ από τη βάση δεδομένων βιογραφικών σημειωμάτων της Πλατφόρμας το βιογραφικό σημείωμα κάποιου Χρήστη (εφόσον αυτός έχει ενεργοποιήσει την αντίστοιχη λειτουργία στον λογαριασμό του), τα Προσωπικά Δεδομένα που θα συλλεχθούν μπορεί να αποθηκευτούν στη βάση δεδομένων αυτής της εταιρείας. Σε αυτές τις περιπτώσεις, η Πλατφόρμα κοινοποιεί τα προσωπικά δεδομένα ως υπεύθυνος επεξεργασίας δεδομένων προς έναν άλλο ανεξάρτητο υπεύθυνο επεξεργασίας δεδομένων. Ως εκ τούτου η χρήση των δεδομένων αυτών από την εταιρεία/πελάτη υπόκειται στην πολιτική απορρήτου αυτής της εταιρείας και η Πλατφόρμα ουδεμία ευθύνη φέρει για την επεξεργασία και χρήση των ανωτέρω Προσωπικών Δεδομένων από την εν λόγω εταιρεία/πελάτη. Οι εταιρείες/πελάτες μπορεί να χρησιμοποιήσουν τα Προσωπικά σας Δεδομένα για να επικοινωνήσουν απευθείας μαζί σας για υποβληθείσες αιτήσεις εργασίας ή για να σας προτείνουν θέσεις εργασίας που μπορεί να σας ενδιαφέρουν.

                    Σημειώνεται ότι, και στην περίπτωση που η Πλατφόρμα λειτουργεί ως πάροχος υπηρεσιών (υπεύθυνος επεξεργασίας δεδομένων) για τους πελάτες της (υπεύθυνοι επεξεργασίας δεδομένων), η Πλατφόρμα δεν επεξεργάζεται ή αποθηκεύει Προσωπικά Δεδομένα με οποιονδήποτε άλλο τρόπο εκτός από εκείνον που ορίζει η ιδιότητά της ως υπεύθυνος επεξεργασίας δεδομένων. Ως εκ τούτου, η Πλατφόρμα δεν μοιράζεται, δεν επεξεργάζεται ούτε με οποιονδήποτε τρόπο χρησιμοποιεί τα Προσωπικά Δεδομένα για την εξυπηρέτηση εμπορικού σκοπού που είναι ασυμβίβαστος με την παρούσα Πολιτική Απορρήτου και το Εφαρμοστέο Δίκαιο Προστασίας Προσωπικών Δεδομένων.

                    Κατά τη συνήθη πορεία παροχής υπηρεσιών προς τους πελάτες μας, Προσωπικά Δεδομένα μπορεί να μοιραστούν εντός της Πλατφόρμας και των συνεργατών της στο βαθμό που είναι αναγκαίο για τους σκοπούς που καθορίζονται στην παρούσα Πολιτική Απορρήτου, καθώς και για σκοπούς έρευνας και στατιστικής ανάλυσης.

                    Μπορεί, επίσης, να μοιραστούμε Προσωπικά σας Δεδομένα με τους παρόχους υπηρεσιών που μας βοηθούν στην παροχή των δικών μας προϊόντων και Υπηρεσιών. Οι πάροχοι υπηρεσιών που χρησιμοποιούμε μας παρέχουν ενδεικτικά τις ακόλουθες κατηγορίες υπηρεσιών: Code Hosting, Code Development, Logger, Search Engine, Email Processing, Server Hosting, Web Hosting, Cloud Hosting, Cloud Storage, Delivery Email, Email Marketing, Analytics Technology, E-Commerce Processing, Data Matching Technology, Chat κ.λπ. Αυτοί οι πάροχοι υπηρεσιών υποχρεούνται βάσει σύμβασης και βάσει νόμου να χρησιμοποιούν ή να αποκαλύπτουν Προσωπικά Δεδομένα, όπως απαιτείται για την παροχή υπηρεσιών για λογαριασμό μας ή όπως άλλως απαιτείται από το νόμο. Σε περίπτωση που αντιληφθούμε ότι ένας πάροχος υπηρεσιών χρησιμοποιεί, επεξεργάζεται ή αποκαλύπτει Προσωπικά Δεδομένα κατά τρόπο ασυμβίβαστο με την παρούσα Πολιτική Απορρήτου ή το Εφαρμοστέο Δίκαιο Προστασίας Προσωπικών Δεδομένων, η Πλατφόρμα δεσμεύεται ότι θα λάβει όλα τα εύλογα μέτρα για να αποτρέψει ή να σταματήσει την ανάρμοστη χρήση, την παράνομη επεξεργασία ή/και αποκάλυψη των δεδομένων.

                    Είναι πιθανόν να τοποθετούμε στην Ιστοσελίδα συνδέσεις («links») προς άλλες ιστοσελίδες που λειτουργούν από τρίτους. Όταν κάνετε «κλικ» σε αυτές τις συνδέσεις ή αλλιώς επισκέπτεστε, συμμετέχετε ή χρησιμοποιείτε τις υπηρεσίες ή τις ιστοσελίδες άλλων μερών, ανεξάρτητα από το αν περιέχουν ή όχι την εμπορική ονομασία μας, εμπορικά σήματα μας και άλλα δικαιώματα πνευματικής ιδιοκτησίας μας, μαζί με εκείνα του τρίτου μέρους που χειρίζεται την εκάστοτε ιστοσελίδα, θα πρέπει να γνωρίζετε και να έχετε επίγνωση ότι Εμείς δεν ελέγχουμε τις επιχειρηματικές πρακτικές αυτών των μερών, και ότι η παρούσα Πολιτική δεν εφαρμόζεται σε αυτά τα άλλα μέρη ή στις ιστοσελίδες τους.

                    Σε ορισμένες περιπτώσεις, σύμφωνα με την συμφωνία που έχουμε συνάψει με την Επιχειρηματική Επαφή, ενδέχεται να αποκαλύψουμε Προσωπικά Δεδομένα σε έναν ή περισσότερους υπεργολάβους που έχουν συνάψει σύμβαση παροχής υπηρεσιών με την Επιχειρηματική Επαφή για λογαριασμό μας, προκειμένου να παρέχει υπηρεσίες στους πελάτες μας.

                    Η Πλατφόρμα διατηρεί το δικαίωμα να αποκαλύψει, χωρίς την προηγούμενη συγκατάθεσή σας, οποιαδήποτε προσωπική πληροφορία σχετικά με εσάς ή τη χρήση της Ιστοσελίδας εάν κάτι τέτοιο κριθεί απαραίτητο για: (α) την προστασία και την υπεράσπιση της δικαιωμάτων της Πλατφόρμας, των υπαλλήλων της ή άλλων Χρηστών της Ιστοσελίδας ή του κοινού, (β) την επιβολή των Όρων Χρήσης της Ιστοσελίδας, (γ) την συμμόρφωσή της με δικαστική απόφαση, νομικά έγκυρο αίτημα αρμόδιας κυβερνητικής αρχής, κανονισμό ή ισχύοντα νόμο ή (δ) να απαντήσει σε ισχυρισμούς ότι οποιοδήποτε περιεχόμενο παραβιάζει δικαιώματα τρίτων ή (ε) για την συμβολή της σε έρευνα ή αποτροπή παραβατικών συμπεριφορών (π.χ. απάτης). Μπορεί, επίσης, να αποκαλύψουμε Προσωπικά Δεδομένα, όπως κρίνουμε αναγκαίο, για να ικανοποιήσουμε κάθε εφαρμοστέο νόμο, κανονισμό, νομική διαδικασία ή κυβερνητικό αίτημα.

                    Τέλος, τα Προσωπικά Δεδομένα που έχουν συλλεχθεί από την Πλατφόρμα μπορεί να μεταβιβαστούν σε τρίτους σε περίπτωση μεταβίβασης ιδιοκτησίας ή περιουσιακών στοιχείων ή πτώχευσης ή άλλης εταιρικής αναδιοργάνωσης της Πλατφόρμας.

                    <br /><strong>7. Διαβίβαση προσωπικών δεδομένων σε τρίτη χώρα</strong> <br />

                    Τα προσωπικά δεδομένα που συλλέγονται από την Πλατφόρμα αποθηκεύονται σε κεντρική βάση δεδομένων (data center) τρίτου παρόχου που βρίσκεται στην Ευρώπη και η επεξεργασία τους γίνεται στην Ευρώπη, αλλά μπορεί να πραγματοποιηθεί επεξεργασία τους και στις Ηνωμένες Πολιτείες Αμερικής ή/και σε άλλες χώρες εκτός Ευρώπης, όπου η Πλατφόρμα ή οι συνεργάτες, οι θυγατρικές της ή τρίτοι φορείς παροχής υπηρεσιών που συνεργάζονται μαζί της διατηρούν τις εγκαταστάσεις τους. Η Πλατφόρμα διασφαλίζει ότι οι εν λόγω συνεργάτες, θυγατρικές ή τρίτοι φορείς παροχής υπηρεσιών καλύπτονται από κατάλληλο πλαίσιο ή σύμβαση που αναγνωρίζεται από τις αρμόδιες αρχές ή δικαστήρια ότι παρέχει επαρκές επίπεδο προστασίας για τα Προσωπικά Δεδομένα.   Χρησιμοποιώντας την Ιστοσελίδα, συναινείτε στην επεξεργασία των Προσωπικών Δεδομένων σας σε χώρες εκτός Ευρώπης. Εάν ανακαλέσετε αυτήν τη συγκατάθεση, θα πρέπει να διαγράψετε τον λογαριασμό σας και συμφωνείτε ότι δεν θα χρησιμοποιήσετε ή δεν θα επισκεφθείτε την Ιστοσελίδα μετά την ανάκληση της συγκατάθεσής σας.

                    <br /><strong>8. Cookies</strong> <br />

                    Χρησιμοποιούμε cookies για να σας παρέχουμε την καλύτερη δυνατή εμπειρία περιήγησης στην Ιστοσελίδα. Μπορείτε να βρείτε περισσότερες πληροφορίες σχετικά με τα cookies στην Πολιτική για τα Cookies της Πλατφόρμας.

                    <br /><strong>9. Περίοδος διατήρησης</strong> <br />

                    Τα προσωπικά δεδομένα διατηρούνται από την Πλατφόρμα για όσο διάστημα κρίνεται απαραίτητο για την εκπλήρωση των σκοπών για τους οποίους συλλέχθηκαν και που ρητώς ορίζονται στην παρούσα Πολιτική. Συγκεκριμένα, τα δεδομένα που συλλέγονται για την δημιουργία λογαριασμού (εγγραφής Χρήστη), του βιογραφικού σημειώματος και των αιτήσεων για θέσεις εργασίας αποθηκεύονται και διατηρούνται στο αρχείο της Πλατφόρμας έως και την ημερομηνία κατά την οποία λήγει η σύμβαση μεταξύ του Χρήστη και της Πλατφόρμας ή μέχρι να μας ζητήσει ο Χρήστης να διαγράψουμε τον λογαριασμό του στην Ιστοσελίδα ή να διαγράψουμε κάποια ή όλα τα Προσωπικά Δεδομένα του. Για την περίοδο διατήρησης των δεδομένων που συλλέγονται από τα cookies, μπορείτε να ανατρέξετε στην Πολιτική για τα Cookies. Τα προσωπικά δεδομένα που χρησιμοποιούνται για την αποστολή e-mail με θέσεις εργασίας ή e-mail διαφημιστικού χαρακτήρα διατηρούνται μέχρις ότου ο Χρήστης να απεγγραφεί από την αντίστοιχη λίστα παραληπτών (μέσω της επιλογής «unsubscribe») ή να ζητήσει την διαγραφή όλων των Προσωπικών του Δεδομένων από την Πλατφόρμα. Τα επαγγελματικά στοιχεία επικοινωνίας για τις Επιχειρηματικές Επαφές διατηρούνται μέχρι να μας ζητήσουν να διαγράψουμε τα δεδομένα τους. Όλα τα άλλα Προσωπικά Δεδομένα που σχετίζονται με τις Επιχειρηματικές Επαφές που είναι υφιστάμενοι πελάτες, προμηθευτές και επιχειρηματικοί εταίροι αποθηκεύονται μέχρι να λήξει η μεταξύ μας σύμβαση ή όπως αλλιώς προβλέπεται από την εφαρμοστέα νομοθεσία.

                    <br /><strong>10. Δικαιώματα υποκειμένων των δεδομένων</strong> <br />

                    Ως υποκείμενο των Προσωπικών Δεδομένων, διατηρείτε τα δικαιώματα που περιγράφονται αναλυτικά στον Κανονισμό, συμπεριλαμβανομένων των ακόλουθων δικαιωμάτων: πρόσβασης (Άρθρο 15), διόρθωσης (Άρθρο 16), διαγραφής (Άρθρο 17), περιορισμού (Άρθρο 18), υποβολής καταγγελίας στην Αρχή Προστασίας Δεδομένων Προσωπικού Χαρακτήρα (Άρθρο 77). Αναφορικά με το δικαίωμα ανάκλησης της συγκατάθεσής σας για την επεξεργασία των Προσωπικών σας δεδομένων: θα θέλαμε να τονίσουμε ότι μπορείτε να ανακαλέσετε την συγκατάθεσή σας οποτεδήποτε, χωρίς όμως να θίγεται η νομιμότητα της επεξεργασίας που βασίστηκε στη συγκατάθεσή σας πριν την ανάκληση αυτής. Μετά την ανάκληση της συγκατάθεσης, η Πλατφόρμα δεν θα είναι σε θέση να συνεχίσει να σας παρέχει τις Υπηρεσίες, εάν νομική βάση για την παροχή τους είναι η συγκατάθεσή σας. Αναφορικά με την υποβολή αιτήματος διαγραφής, θα θέλαμε να σας ενημερώσουμε ότι, από την στιγμή που θα ικανοποιηθεί το αίτημά σας, θα: α) Παύσουμε να χρησιμοποιούμε και να κάνουμε διαθέσιμα τα Προσωπικά σας Δεδομένα σε τρίτους (έκτος αν προβλέπεται ή απαιτείται διαφορετικά από τον νόμο). β) Διαγράψουμε όλα τα Προσωπικά σας Δεδομένα από τις βάσεις δεδομένων μας, έκτος από αυτά που περιέχονται σε ηλεκτρονικά μηνύματα, αλληλογραφία ή άλλα έγγραφα που μπορεί να κρατήσουμε για να μπορούμε να αποδείξουμε τους όρους της συμβατικής μας σχέσης μαζί σας ή όπως άλλως προβλέπεται από την εφαρμοστέα νομοθεσία. Σας ενημερώνουμε ότι, ακόμη και σε περίπτωση επιτυχούς διαγραφής του λογαριασμού σας, εφόσον είχατε ενεργοποιήσει την επιλογή να είναι ορατό το προφίλ σας σε υποψήφιους εργοδότες ή/και είχατε υποβάλει μία ή περισσότερες αιτήσεις εργασίας μέσω της Ιστοσελίδας, ενδέχεται οι υπεύθυνοι προσλήψεων (recruiters) και οι Επιχειρηματικές Επαφές που έχουν πληρώσει για να έχουν πρόσβαση στις βάσεις δεδομένων μας να έχουν διατηρήσει στα δικά τους αρχεία ή βάσεις δεδομένων αντίγραφο του βιογραφικού σας ή άλλων Προσωπικών Δεδομένων που τους έχετε κοινοποιήσει ή που είχατε αναρτήσει στον λογαριασμό σας πριν από την διαγραφή του. Δεν μπορούμε να ελέγξουμε την πολιτική προστασίας προσωπικών δεδομένων που εφαρμόζουν τρίτα μέρη (συμπεριλαμβανομένου του χρόνου διατήρησης, τη χρήση κ.λπ.) αναφορικά με τα βιογραφικά ή εν γένει τα Προσωπικά Δεδομένα των εγγεγραμμένων Χρηστών που έχουν ληφθεί από τρίτα μέρη. Παρακαλούμε, όπως μας βοηθήσετε να διατηρήσουμε τα δεδομένα σας ακριβή επικαιροποιώντας σε τακτά χρονικά διαστήματα τα στοιχεία του λογαριασμού σας.

                    <br /><strong>11. Άσκηση δικαιωμάτων των Χρηστών</strong> <br />

                    Μπορείτε να αποκτήσετε πρόσβαση, να ενημερώσετε και να τροποποιήσετε τα Προσωπικά Δεδομένα σας που περιλαμβάνονται στον λογαριασμό σας στην Ιστοσελίδα ή να αφαιρέσετε το βιογραφικό σας από τη βάση δεδομένων βιογραφικών μας ανά πάσα στιγμή, μπαίνοντας στο λογαριασμό σας και κάνοντας τις απαραίτητες αλλαγές. Αν θέλετε να ασκήσετε κάποιο από τα περιγραφόμενα στην παράγραφο 10 δικαιώματά σας και δεν μπορείτε να το πράξετε σύμφωνα με τα ανωτέρω, παρακαλούμε όπως υποβάλλετε αντίστοιχο αίτημα στην Πλατφόρμα μέσω της φόρμας επικοινωνίας και η Πλατφόρμα θα φροντίσει για την άμεση εξέτασή του. Η Πλατφόρμα δεσμεύεται να απαντάει χωρίς καθυστέρηση και σε κάθε περίπτωση εντός ενός (1) μήνα από την παραλαβή του αιτήματος.

                    <br /><strong>12. Αλλαγές στην παρούσα δήλωση</strong> <br />

                    Ενημερώνουμε την παρούσα Πολιτική Απορρήτου όποτε είναι αναγκαίο, ώστε να αντανακλά αλλαγές που επιτάσσει το Εφαρμοστέο Δίκαιο Προστασίας Προσωπικών Δεδομένων ή/και αλλαγές στις πρακτικές της Πλατφόρμα αναφορικά με τα Προσωπικά Δεδομένα. Εάν προβούμε σε οποιαδήποτε σημαντική αλλαγή στην παρούσα Πολιτική Απορρήτου, θα ειδοποιήσουμε τους Χρήστες με κάθε πρόσφορο μέσο (π.χ. μέσω αποστολής e-mail ή μέσω ανάρτησης στην Ιστοσελίδα). Σε κάθε περίπτωση, στην αρχή της παρούσας αναγράφεται η τελευταία ενημέρωση της Πολιτικής Απορρήτου. Προτρέπουμε τους Χρήστες να επισκέπτονται ανά τακτά χρονικά διαστήματα την Ιστοσελίδα προκειμένου να ενημερώνονται για τυχόν αλλαγές στην Πολιτική Απορρήτου μας.

                    <br /><strong>13. Στοιχεία επικοινωνίας</strong> <br />

                    Εάν έχετε οποιαδήποτε απορία σχετικά με την παρούσα Πολιτική αλλά και για κάθε ζήτημα σχετικό με την συλλογή και την επεξεργασία των Προσωπικών σας Δεδομένων από την Πλατφόρμα, μπορείτε να απευθυνθείτε στην Πλατφόρμα μέσω της φόρμας επικοινωνίας ή μέσω e-mail στο <strong>svseapp@hotmail.com</strong>. Για την καλύτερη και πιο άμεση εξυπηρέτησή σας, παρακαλούμε στη φόρμα επικοινωνίας να αναφέρετε συγκεκριμένα τις ερωτήσεις/απορίες σας.



                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="DeclineAsync">Απόρριψη</button>
                <button type="button" class="btn btn-primary" @onclick="AgreeAsync">Αποδοχή</button>
            </div>
        </div>
    </div>
</div>


